@font-face {
    font-family: 'OpenSans-Medium';
    src:  url('fonts/OpenSans-Medium.woff2') format('woff');
    font-style: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src:  url('fonts/OpenSans-SemiBold.woff2') format('woff');
    font-style: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src:  url('fonts/OpenSans-Bold.woff2') format('woff');
    font-style: normal;
    font-style: normal;
}